/* pokemon-details.css */

body {
    background-color: #f6f8fc;
    font-family: 'Roboto', sans-serif;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
    text-align: center;
}

h1 {
    color: #f44336;
}

.pokemon-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.pokemon-details h2 {
    color: #f44336;
}

.pokemon-details p {
    color: #333;
    margin: 0.5rem 0;
}

.pokemon-details img {
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
}

.pokemon-details ul {
    list-style: none;
    padding: 0;
}

.pokemon-details ul li {
    color: #333;
    margin: 0.25rem 0;
}